// Specific CSS for your home-page
.contact {
  .fab {
    font-size: 3em;
    padding: 0.5em;
    opacity:0.7;
    cursor:pointer;
    &:hover{
      opacity:1;
    }
  }
}

.job-li{
  background: transparent;
  height: 6em;
  text-decoration: none;
  list-style: none;
  border-bottom: 0.2px solid #bdbbbb;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover{
    background: linear-gradient(90deg, $light-gray, white, $light-gray);
    // background-color: $light-gray;
  }
  .fas{
    display:none;
  }
}

.fa-building:before{
  padding:0.7em;
  color: #878787;
  font-size: 0.9em;
}

.fa-map-marker-alt:before {
  padding:0.7em;
  color: #878787;
  font-size: 0.9em;
}

.job-title{
  margin:0;
  font-size:1.2em
}

#desc-loc{
  color: #878787;
  font-size: 0.9em;
}

#desc-dept{
  color: #878787;
  font-size: 0.9em;
}

.link-job{
  color: black;
  width:100%;
  &:hover{
    color: black;
    text-decoration:none
  }
}

#map {
  // position: absolute;
  // top: 0;
  // bottom: 0;
  height: 400px;
  width: 100%;
}

.marker {
  background-image: image-url('mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.title{
  font-family: 'Berkshire Swash', cursive;
}
