<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright" style= "font-size:0.7em">
    <a href="https://nadiaauger.com" style="text-decoration: none; color:rgba(0,0,0,0.3)">
      This website is made by Nadia AUGER
    </a>
  </div>
</div>
